{% extends "base.html" %}

{% block content %}
    <h1>Welcome to my personal website!</h1>
    <p>As a Data Engineer Intern at Mutually Human, I contribute to developing scalable ETL pipelines using Azure Data Factory and Databricks while supporting production reporting workflows with SQL, Python/PySpark, and Java.</p>  
    <p>Currently pursuing a Bachelor of Science in Mathematics and Computer Science at Grand Valley State University, I focus on honing technical and analytical skills. My academic background, combined with practical experience, drives my interest in leveraging data-driven solutions to empower organizations with actionable insights.</p>
    <p>Check out my latest NFL data pipelines in the projects section!</p>
{% endblock %}